{% extends "boards/bases/base_card.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input
            value="Submit"
            type="submit">
    <input
            value="Cancel"
            type="button"
            onclick="location.href='{{ success_url }}'">
</form>
    </div>
  </div>
</div>
{% endblock %}