{% extends 'boards/bases/base_card.html' %}
{% block content %}
<section class="section is-small py-5 px-40">
<div class="container is-max-desktop">
<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Card Information</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
        <div class="user-email" style="align-items:center;"><label for="card-update">
            <p class="mr-5 font-light rounded bg-gray px-1 py-0" style="align-items:center;">Update</p></label>
            <input
                    id="card-update"
                    type="button"
                    onclick="location.href='{% url "card-update" card.id %}'"/>
  </div>
      <div class="user-email" style="align-items:center;"><label for="card-delete">
            <p class="mr-5 font-light rounded bg-gray px-1 py-0" style="align-items:center;">Delete</p></label>
            <input
                    id="card-delete"
                    type="button"
                    onclick="location.href='{% url "card-delete" card.id %}'"/>
        </div>
    </p>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Column</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            {{ card.column.title }}
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Title</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ card.title }}</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Description</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ card.description }}</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Labels</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            {% for mark in marks %}
                <p style="display:inline-block;background-color:{{ mark.color }}" class="rounded text-white py-0.5 px-1 mx-1">
                   {{ mark.title }}
                </p>
            {% endfor %}
            <label for="card-mark-add">
                <p class="rounded text-white py-0.1 px-1 mx-1 my-0.5 bg-zinc-500" style="display:inline-block;align-items:center;"> + new mark </p></label>
                <input
                        id="card-mark-add"
                        type="button"
                        onclick="location.href='{% url "card-mark-add" card.id %}'"/>
        </dd>
      </div>


      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Attachments</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
              {% for file in files %}
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                </svg>
                <span class="ml-2 w-0 flex-1 truncate">{{ file.file.name }}</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a href="{{ file.file.url }}" class="font-medium text-indigo-600 hover:text-indigo-500">See</a>
              </div>
            </li>
              {% endfor %}
          </ul>
            <label for="card-file-add">
                <p class="rounded text-white py-0.5 px-1 mx-1 my-1 bg-zinc-500" style="display:inline-block;align-items:center;"> + new attachment </p></label>
                <input
                        id="card-file-add"
                        type="button"
                        onclick="location.href='{% url "card-file-add" card.id %}'"/>
        </dd>
      </div>


        <div class="bg-gray-50 px4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Comments</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <form action='{% url "card-detail" card.id %}' method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div>
                <div class="form-group">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% for comment in comments %}
                <p>
                    On {{comment.created_on.date }}&nbsp;
                    <b>{{ comment.user.email }}</b> wrote:
                </p>
                <p>{{ comment.body }}</p>
                <hr>
            {% endfor %}
        </dd>
      </div>
    </dl>
  </div>
</div>
</div>
</section>
{% endblock %}