<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css"/>
<script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

<section class="text-white text-xs bg-sky-600 px-7 w-full lg:bg-sky-700 lg:pb-0.5 navbar">
    <div class="container flex flex-col flex-wrap items-center justify-between py-0 mx-auto md:flex-row max-w-7xl">
        <div class="relative flex flex-col md:flex-row">
            <a href="{% url 'home' %}"
               class="flex items-center font-medium text-gray-900 text-xs lg:w-auto lg:items-center lg:justify-center md:mb-0">
                <div style="width:75px;height:13px;background-image:url(https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif);background-repeat: no-repeat;background-size: contain;background-position: center;"></div>
            </a>
            <nav class="flex flex-wrap items-center text-xs text-base md:mb-0 md:pl-8 md:ml-8">
                <a href="{% url 'home' %}" class="mr-5 font-normal leading-6 text-xs text-white lg:inline">
                    <span class="navbar-text"> Home </span>
                </a>
                <label for="board-add">
                    <p class="mr-5 font-normal leading-6 text-xs rounded bg-sky-900 px-4 py-0.5 navbar-button">
                        Create</p></label>
                <input
                        id="board-add"
                        type="button"
                        onclick="location.href='{% url "project-add" %}'"/>
            </nav>
        </div>
        <div class="inline-flex items-center ml-5 space-x-6 lg:justify-end">

            {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}"
               class="text-xs font-medium leading-6 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-100 hover:text-gray-300 navbar-text">
                Log Out
            </a>
            {% else %}
            <a href="{% url 'account_login' %}"
               class="text-xs font-medium leading-6 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-100 hover:text-gray-300 navbar-text">
                Sign in
            </a>
            <a href="{% url 'account_signup' %}"
               class="inline-flex items-center justify-center px-4 py-0.5 text-xs font-medium leading-6 text-white whitespace-no-wrap border border-transparent rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-white hover:bg-zinc-300"
               data-rounded="rounded-md" data-primary="indigo-600">
                Sign up
            </a>
            {% endif %}
        </div>
    </div>
</section>

{% block content %}
{% endblock %}